<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/public/js/home.js"></script>
</head>
<body class="bg-gray-100 p-6">

    <h1 class="text-center text-2xl font-bold text-gray-800 mb-6">{{ title }}</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6" id="projects-container">
        <!-- I dati verranno caricati dinamicamente -->
    </div>
</body>
</html>